@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-inactive-link: #c9cdcc;
  --clr-active-link: #007a64;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;
  background-color: var(--clr-color-background);
}

.page {
  display: grid;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
  background-color: #fbfbfb;
  margin: 0 auto;
}

.side {
  height: 100vh;
  background-color: #fff;
}

side .top {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}

side .logo {
  display: flex;
  gap: 1rem;
  height: 10vh;
}

side .top div.close {
  display: none;
}

/* sidebar */

side .sidebar {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2vh;
  height: 60vh;
}

side .sidebar a {
  display: flex;
  color: var(--clr-inactive-link);
  padding-left: 1rem;
  /* margin-left: 2rem; */
  border-left: 5px solid var(--clr-white);
  gap: 1rem;
  height: 3.2rem;
  width: 100%;
  transition: all 0.1s ease;
  text-decoration: none;
}

side .sidebar a span {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.1s ease-in;
}

side .sidebar .nav-link {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 100%;
}

side .sidebar a:last-child {
  position: absolute;
  bottom: 0rem;
  width: 100%;
}

side .sidebar a:hover:last-child {
  color: red;
}

side .sidebar a.active {
  color: var(--clr-active-link);
  margin-left: 0;
  border-left: 5px solid var(--clr-active-link);
}

/* side .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--clr-active-link);
} */

side .sidebar a:hover {
  color: var(--clr-active-link);
}
