main .main-content {
  width: 100%;
  margin: 1rem;
}

main .page-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.progress-container {
  width: 80%;
  margin: 0.5rem auto;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-line {
  width: 15%;
  height: 2px;
  background-color: #dadada;
  top: 50%;
  transform: translateY(-50%);
}

.progress-step {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  position: relative;
  color: #9c9c9c;
}

.progress-step i {
  color: #e0e0e0;
  font-size: 2rem;
  margin: 0 auto 10px;
}

.progress-bar .progress-line.done {
  width: 15%;
  height: 2px;
  background-color: #fec322;
  top: 50%;
  transform: translateY(-50%);
}

.progress-step.done i {
  color: #fec322;
  font-size: 2rem;
  margin: 0 auto 10px;
}

.main-content .sub-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 0.8rem;
}

.sub-title .blue-text {
  color: blue;
  font-weight: bold;
}
.sub-title i {
  color: #ff0000;
}

.main-content .section {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
}

.section .left {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .tips {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border: solid;
  border-color: #d9d7d8;
  border-radius: 1rem;
  width: 100%;
}

.tips .label {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.tips .text {
  font-size: 0.8rem;
}

.tips .links {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.tips .link-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 2rem;
}

.tips .link-card .icon {
  background-color: #f5f5f5;
  border: transparent;
  border-radius: 100%;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.tips .link-card .icon i {
  font-size: 1.2rem;
  color: #ff0000;
}

.tips .link-card .icon img {
  width: 1.2rem;
}

.tips .link-card .link-desc {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 1rem;
}

.tips .link-card .link-title {
  font-weight: bold;
  font-size: 0.8rem;
}

.tips .link-card .link-text {
  font-size: 0.7rem;
  border-bottom: solid;
  border-color: #ececec;
}

.left .continue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 3rem;
  width: 75%;
  background-color: rgba(255, 76, 0, 0.26);
  color: #fff;
}

.section .form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  background-color: #fff;
  border: solid;
  border-color: #d9d7d8;
  border-radius: 1rem;
  width: 70%;
}

.form .instructions {
  font-size: 0.7rem;
}

.form .label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form .form-section {
  width: 100%;
  display: grid;
  font-size: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
  color: #8f8f8f;
}

.form .form-section input {
  margin: 0.5rem;
  border-radius: 0.4rem;
  min-height: 2rem;
  font-size: 0.88rem;
  border: solid;
  border-color: #d9dee2;
  color: #000;
  background: transparent;
  padding-left: 0.3rem;
}

.form .form-section input::placeholder {
  color: #8f8f8f;
}

.form .gender-selector {
  color: #8f8f8f;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.form .gender-selector label {
  color: #8f8f8f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.form-section .name-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  font-size: 0.88rem;
}

.name-select .title-selector {
  margin: 0.5rem;
  border: solid;
  border-color: #d9dee2;
  color: #000;
  background: transparent;
  border-radius: 0.4rem;
  height: 100%;
}

.title-selector select {
  font-size: 0rem;
  color: #8f8f8f;
}

.name-select .text-input {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  border: solid;
  border-color: #d9dee2;
  color: #000;
  background: transparent;
}

.form .auth {
  background-color: #f4f7fe;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.auth .title {
  font-weight: bold;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}

.auth .text {
  font-size: 0.7rem;
}

.auth .bold {
  font-size: 0.7rem;
  font-weight: bold;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  main .main-content {
    width: 100%;
    margin: 0rem;
    padding: 1rem;
  }

  main .page-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .progress-container {
    width: 80%;
    margin: 2.4rem auto;
  }

  .progress-container .progress-bar {
    font-size: 0.7rem;
    text-wrap: pretty;
  }

  .progress-step i {
    color: #e0e0e0;
    font-size: 1rem;
    margin: 0 auto 10px;
  }

  .progress-step.done i {
    color: #fec322;
    font-size: 1rem;
    margin: 0 auto 10px;
  }

  .progress-line {
    display: none;
  }

  .main-content .sub-title {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-content .section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .section .left {
    width: 100%;
  }

  .section .right {
    flex-direction: column;
    width: 100%;
  }
}
