@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-white: #fff;
  --clr-inactive-link: #c9cdcc;
  --clr-active-link: #007a64;
  --clr-color-background: #f6f6f6;
}

.hidden {
  opacity: 0; /* Set to fully transparent */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
  transition: opacity 0.3s ease-in-out;
  background-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;
}

.page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 17vw auto;
  margin: 0;
}

side {
  position: fixed;
  top: 0;
  left: 0;
  width: 17vw;
  height: 100vh;
}

side .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

side .logo {
  display: flex;
  gap: 1rem;
  height: auto;
  max-width: 184px;
}

side .logo img {
  width: 100%;
}

side .top div.close {
  display: none;
}

/* sidebar */

side .sidebar {
  display: flex;
  margin-left: 0.5rem;
  flex-direction: column;
  position: relative;
  margin-top: auto;
  top: 10vh;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #d7d7d7;
  box-sizing: border-box;
}

side .sidebar a {
  display: flex;
  align-items: center;
  color: var(--clr-inactive-link);
  padding-left: 0.5rem;
  gap: 1rem;
  height: 3.2rem;
  transition: all 0.1s ease;
  text-decoration: none;
  overflow: hidden;
}

side .sidebar a i {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  transition: all 0.1s ease-in;
}

side .sidebar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 0.1s ease-in;
}

side .sidebar a:hover:last-child {
  color: red;
}

side .sidebar a.active {
  color: var(--clr-active-link);
  margin-left: 0;
}

side .sidebar a:hover {
  color: var(--clr-active-link);
}

/* MAIN  */
main {
  margin-left: 17vw;
  width: 82vw;
  background-color: #fff;
}

main .top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

main .top .menu_bar {
  display: none;
}

/* MAIN SECTION */

main .main-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

.page-title-container h3 {
  font-size: 1.5rem;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.7rem;
    width: 100vw;
  }

  .side {
    position: fixed;
    width: 18rem;
    z-index: 3;
    background-color: var(--clr-white);
    /* remove later */
    display: none;
    left: -100px;
    animation: menuAnimation 1s forwards ease-in-out;
  }

  @keyframes menuAnimation {
    to {
      left: 0;
    }
  }

  side .logo {
    display: flex;
    gap: 1rem;
    height: auto;
    max-width: 100px;
  }
  .side .logo img {
    width: 100%;
  }

  .side .sidebar a {
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }

  side .sidebar a i {
    font-size: 0.9rem;
  }

  side .sidebar .nav-link {
    font-size: 0.7rem;
    font-weight: 500;
  }

  side .top div.close {
    font-size: 35px;
    display: inline;
    position: absolute;
    right: 0;
    margin-right: 30px;
  }

  main {
    margin-left: 0vw;
    width: 100vw;
    background-color: #fff;
  }

  main .top {
    padding-top: 0rem;
    margin-top: 0rem;
    position: fixed; /* Fix the navigation bar position */
    top: 0; /* Place it at the top of the viewport */
    left: 0; /* Align it to the left edge */
    width: 100%;
    z-index: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 0.8rem;
    overflow-x: auto;
    /* height: 40%; */
  }

  main .top .menu_bar {
    display: inline-block;
    background: transparent;
    top: 0;
    cursor: pointer;
    color: #000;
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    background-color: #fff;
  }

  main .main-content {
    /* grid-template-columns: repeat(1, 1fr, 1fr); */
    /* position: relative; */
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 130px;
  }
}
