body {
  background-color: #fff;
}

.page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 17vw 61vw auto;
  margin: 0;
}

main {
  margin-left: 17vw;
  width: 61vw;
}

.page right {
  width: 22vw;
  background-color: #fef5f0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

main .main-content {
  width: auto;
}

main .page-content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.progress-container {
  width: 80%;
  margin: 0.5rem auto;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-line {
  width: 15%;
  height: 2px;
  background-color: #dadada;
  top: 50%;
  transform: translateY(-50%);
}

.progress-step {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  position: relative;
  color: #9c9c9c;
}

.progress-step i {
  color: #e0e0e0;
  font-size: 2rem;
  margin: 0 auto 10px;
}

.progress-bar .progress-line.done {
  width: 15%;
  height: 2px;
  background-color: #fec322;
  top: 50%;
  transform: translateY(-50%);
}

.progress-step.done i {
  color: #fec322;
  font-size: 2rem;
  margin: 0 auto 10px;
}

.page-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: start;
  font-weight: bold;
  font-size: 1.5rem;
}

.page-content .overview {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.3rem;
  width: 100%;
  flex-wrap: wrap;
}

.overview .card {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: transparent;
}

.card .text {
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.card .number {
  text-align: center;
  font-size: 1.2rem;
}

.request-section {
  background-color: #fff;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 95%;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-left: solid 0.5rem;
  border-left-color: #71357b;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.request-section .title {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.request-section table {
  width: 100%;
  padding: 1rem;
  align-items: start;
  text-align: center;
}

.request-section th,
tr {
  font-weight: normal;
  font-size: 0.8rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.request-section td {
  font-weight: normal;
  font-size: 0.8rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.request-section td .add-record-btn {
  background-color: #fec322;
  color: #fff;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 1rem;
}
.request-section td {
  color: #757575;
}
.request-section td button {
  background: transparent;
}
.request-section td button i {
  font-size: 1rem;
  color: #757575;
}

.request-section td .status {
  font-weight: bold;
  color: #000;
}

.right .title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}

.right .appt-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 0.5rem;
}

.appt-section .appt-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 0.3rem;
}

.appt-card .reason {
  background-color: #fff;
  color: rgba(121, 121, 121, 0.7);
  text-align: center;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: 10px;
}

.appt-card .name {
  background: transparent;
  font-size: 0.8rem;
  color: #000;
}

.appt-card .phone {
  color: rgba(121, 121, 121, 0.7);
  font-size: 0.7rem;
}

.appt-card .details {
  display: flex;
  flex-direction: row;
  /* align-items: start; */
  width: 100%;
  justify-content: space-between;
}

.appt-card .time-saved {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}

.appt-card .report {
  /* background-color: rgba(0, 122, 100, 0.2); */
  background-color: #fff;
  padding: 0.5rem;
  color: #007a64;
  font-size: 0.7rem;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  main .main-content {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
  }

  main .page-content {
    width: 100%;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  main {
    margin-left: 0vw;
    margin: 0;
    width: 100vw;
  }

  .page {
    display: flex;
    margin: 0;
    flex-direction: column;
  }

  main .page-content {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
  }

  .page right {
    width: auto;
    height: auto;
    position: relative;
    padding-bottom: 5rem;
  }

  .page-content .overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .progress-container {
    width: 80%;
    margin: 2.4rem auto;
  }

  .progress-container .progress-bar {
    font-size: 0.7rem;
    text-wrap: pretty;
  }

  .progress-step i {
    color: #e0e0e0;
    font-size: 1rem;
    margin: 0 auto 10px;
  }

  .progress-step.done i {
    color: #fec322;
    font-size: 1rem;
    margin: 0 auto 10px;
  }

  .progress-line {
    display: none;
  }
}
