.main-content .page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.page-content .container {
  display: flex;
  padding: 1rem;
  border: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow: scroll;
  overflow-x: scroll;
}

.main-content .table {
  overflow-y: scroll;
  overflow: scroll;
  overflow-x: scroll;
}
.main-content .table tbody td {
  color: #3e4954;
  font-size: 0.8rem;
}

.main-content .table .patient-link {
  background: transparent;
  text-decoration: underline;
  background: transparent;
  color: #3e4954;
}

.page-content .table-page {
  align-self: flex-start;
  align-items: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
}

.container .navigation {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  width: 100%;
  gap: 1rem;
}

.container nav {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.container .pagination .page-link {
  background-color: #007a64;
  color: #fff;
  border-radius: 0px;
  border: solid #007a64;
  cursor: pointer;
}

.container .pagination .nav-page-link {
  background: transparent;
  color: #007a64;
  background-color: white;
  border-radius: 0px;
  border: solid #007a64;
  cursor: pointer;
}
