.main-content .page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.page-content .container {
  display: flex;
  padding: 1rem;
  border: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  /* min-height: 60vh; */
  max-width: 100%;
  overflow-y: scroll;
  overflow: scroll;
  overflow-x: scroll;
}

.page-content .actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.actions .new-patient {
  height: 2rem;
  background-color: #007a64;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-patient .new-patient-btn {
  background: transparent;
  color: #fff;
}

.actions .filter-date {
  height: 2rem;
  background-color: #fff;
  border: solid;
  border-color: #007a64;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-date .filter-date-btn {
  background: transparent;
  color: #007a64;
}

.main-content .table {
  overflow-y: scroll;
  overflow: scroll;
  overflow-x: scroll;
}
.main-content .table tbody td {
  color: #3e4954;
  font-size: 0.8rem;
}

.main-content .table .patient-link {
  background: transparent;
  text-decoration: underline;
  background: transparent;
  color: #3e4954;
}

.page-content .table-page {
  align-self: flex-start;
  align-items: center;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
}

.main-content .table .status-btn-gray {
  background-color: transparent;
  color: #b1b1b1;
}
.main-content .table .status-btn-green {
  background-color: transparent;
  color: #007a64;
}

.table .tx-est-green {
  text-align: center;
  background-color: rgba(0, 122, 100, 0.1);
  color: #007a64;
}

.table .tx-est-gray {
  text-align: center;
  background-color: #fff;
  border: solid;
  border-color: #e2e2e2;
  color: #969ba0;
}

.main-content .table .profile {
  width: 1rem;
  height: 1rem;
  background-color: #ccc;
}

.table .menu-table {
  background: transparent;
}
.container .navigation {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  width: 100%;
  gap: 1rem;
}

.container nav {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.container .pagination .page-link {
  background-color: #007a64;
  color: #fff;
  border-radius: 0px;
  border: solid #007a64;
  cursor: pointer;
}

.container .pagination .nav-page-link {
  background: transparent;
  color: #007a64;
  background-color: white;
  border-radius: 0px;
  border: solid #007a64;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  main .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-content .actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem;
    width: 100%;
  }

  .actions .new-patient {
    margin-right: 1rem;
    width: 100%;
    background-color: #007a64;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .new-patient .new-patient-btn {
    background: transparent;
    color: #fff;
  }

  .actions .filter-date {
    /* height: 2rem; */
    width: 100%;
    margin: 1rem;
    background-color: #fff;
    border: solid;
    border-color: #007a64;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
